---
const today = new Date();
import { Yourname, Yourinstagram, Yourlinkedin, Yourgithub } from '../../config.js';
---

<footer>
	&copy; {today.getFullYear()} {Yourname}. All rights reserved.
	<div class="social-links">

		<a href="https://ko-fi.com/0xcheth/" target="_blank">
			<img style="margin-top: 0.2em;" src="https://cdn.prod.website-files.com/5c14e387dab576fe667689cf/670f5a0172b90570b1c21dab_kofi_logo-p-500.png" alt="Support me on Ko-fi" width="80" />
		  </a>
		  

		<a style="margin-right: 0em;" href={Yourinstagram} target="_blank">
			<span class="sr-only">Find me on Instagram!</span>
			<img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" width="32" height="32" />
		</a>
		  
		
		<a style="margin-right: 0em;" href={Yourlinkedin} target="_blank">
			<span class="sr-only">Find me on Linkedin!</span>
			<img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt="Linkedin" width="32" height="32" />
		</a>
		

		</a>
		<a href={Yourgithub} target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="GitHub" width="32" height="32" />
		</a>
	</div>
</footer>

<style>
	footer {
		display:block;
		margin: 0em;
		padding: 0em 0em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}

	</style>
