---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Yourlinkedin, Yourinstagram, Yourgithub } from '../../config.js';

---

<header>
	<nav>
	  <h2 style="font-size: x-large;"><a href="/">{SITE_TITLE}</a></h2>

	  <!-- Hamburger Button using checkbox hack -->
	  <input type="checkbox" id="menu-toggle" class="hamburger-checkbox">
	  <label for="menu-toggle" class="hamburger" aria-label="Toggle navigation">☰</label>
	  
	 

	  
	  <div id="menu" class="internal-links">
		
	  	<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/aboutme">About me</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>

			<div class="rowbox" style="margin-bottom: 4em;">
				<a href="https://ko-fi.com/0xcheth/" target="_blank">
					<img style="margin-left: 0;" src="https://cdn.prod.website-files.com/5c14e387dab576fe667689cf/670f5a0171bfb928b21a7e00_support_me_on_kofi_beige-p-500.png" alt="Support me on Ko-fi" width="200" />
				  </a>
			</div>

			<div class="rowbox">  
		
				<a style="margin: 0.5em;" href={Yourinstagram} target="_blank">
					<span class="sr-only">Find me on Instagram!</span>
					<img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" width="50"  />
				</a>
				  
				
				<a style="margin: 0.5em;" href={Yourlinkedin} target="_blank">
					<span class="sr-only">Find me on Linkedin!</span>
					<img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt="Linkedin" width="50"  />
				</a>
				
		
				</a>
				<a style="margin: 0.5em;" href={Yourgithub} target="_blank">
					<span class="sr-only">Go to Astro's GitHub repo</span>
					<img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="GitHub" width="50"  />
				</a>

			</div>
		
	  </div>
  
	  <!-- Social Links -->
	  <div class="social-links">

		<a href={Yourlinkedin} target="_blank">
			<span class="sr-only">Find me on Linkedin!</span>
			<img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt="Linkedin" width="45" />
		</a>
		</a>
		

	  </div>
	</nav>
	<style>
		.rowbox {
			display: none;
		}
		.hamburger-checkbox {
			display: none;
    	}
		header {
		position:fixed;
		top:0;
		left:0;
		right:0;
		margin: 0em;
		z-index: 8;
		}
		.hamburger {
		  position:fixed;
		  right:0; 
		  background: none; 
		  border: none; 
		  font-size: 36px; 
		  cursor: pointer; 
		  padding: 0.5em; 
		  margin-top: 0.25em; 
		  outline: none; 
		  z-index: 12; 
		}
		.internal-links {
		  position: fixed;
		  display: flex; 
		  flex: 1;
		  top: 0; 
		  right: 0;
		  width: 100%; 
		  height: 100%; 
		  padding: 5px;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  opacity: 10;
		  z-index: 10; 
		  
		}
		.hamburger-checkbox:checked ~ .internal-links {
			opacity: 1;
			transform: translateY(0);
			
		}
		.internal-links a {
		  text-decoration: none;
		  padding: 0.4em; 
		  padding-top: 0.2em;
		  padding-bottom: 0.2em;
		  margin: 1em 0;
		  border: none;
		  border-radius: 5px;
		  transition: color 0.3s ease;
		
		
		}

		body {
    		padding-top: 25px; /* Match the header height */
  		}

		@media (max-width: 1081px) {
		
		.internal-links {
			transform: translateY(-100%);
		  	transition: opacity 0.5s ease, transform 0.5s ease; 
			font-size: x-large;
			
		  }
		.rowbox {
			display: flex;
			position: absolute; /* Position relative to the parent container */
  			bottom: 0; /* Align to the bottom */
  			left: 0; /* Align to the left */
  			right: 0; /* Stretch the rowbox to the right side */
			flex-direction: row;
			margin-bottom: 1em;
			
		}
		header {
    		padding: 25px; /* Taller header on smaller screens */
  		}

  		body {
    		padding-top: 30px; /* Match the header height */
  		}
		}

	@media (min-width: 1081px) {
		  .hamburger {
			display: flex;
		  }
		  .internal-links {
			display: flex;
			position: relative;
			flex-direction: row;
			height: auto; 
			background-color: transparent; 
		  }
		  .internal-links a {
			margin: 0 15px;
			
		  }
		@media (min-width: 1081px) {
    	  .hamburger {
      		display: none; 
    	  }

    	  .internal-links {
      		display: flex; 
         
			}
	</style>
</header>
<style>
	header {
		display: block;
		margin: 0em;
		padding: 0em 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 30%);
		border-radius: 0.25em;

	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0em;
		margin: 0em;
		color: var(--HeaderText);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 1081px) {
		.social-links {
			display: none;
		}
	}
	
		  
</style>
