---
import { type CollectionEntry, getCollection } from 'astro:content';
import { ViewTransitions } from "astro:transitions";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const allPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const featuredPosts = allPosts.slice(0, 3);  // Adjust number as needed

---
<!-- campfire2.webp/campfire1.webp files converted from gifs aquired through https://tenor.com/view/dark-souls-knight-rest-here-weary-rest-here-weary-one-gif-19874929 & https://tenor.com/view/anime-frieren-read-reading-grimoire-gif-9258809254239823881 -->
<!doctype html>
<html lang="en">

	
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>


	<body>
		
		</div>
		<Header />
		
			<main>	
				<div class='centerbox'>
					
					<slot />

				<div class="rowbox" style="gap:1em; flex-direction: row; z-index: 3; ">
					<a href="https://ko-fi.com/0xcheth/" target="_blank">
						<img src="https://cdn.prod.website-files.com/5c14e387dab576fe667689cf/670f5a010d6b437c09864f24_support_me_on_kofi_badge_dark.png" width="200" />
					</a>
					<a href="https://github.com/0xcheth/" target="_blank">
						<img src="https://github.githubassets.com/assets/GitHub-Logo-ee398b662d42.png" width="250" />
					</a>
					</div>
				<div class="rowbox"	>
				
					<div class="colorbox" style="background-color:rgb(83, 201, 209)">
						<div class="centerbox" style="text-align: center;">
						<h1> 🧙🏾‍♂️ </h1>
						
						<h1 style="color:white"> Greetings Traveler. </h1>
						
						<p style="color:white">
						You've come a long way, Take a seat 🏕️ 
						</p>
						</div>
						<div class="centerbox">
						<img src="/assets/campfire2.webp" style="margin-bottom:1em;"/>
						<!--- artist cannonbreed @ https://www.newgrounds.com/art/view/cannonbreed/dark-souls-bonfire --->
						<figcaption style="color:white">
							© cannonbreed Dark Souls bonfire
						</figcaption>
						</div>
						</div>

<div class="colorbox" style="background-color:rgb(154, 101, 224);">
	
<h2  style="color:white; margin-bottom: 0.5em;">Latest blog post!</h2>
	  
	
	<div class="centerbox" >		
			<section style="z-index: 3; ">
					
						{featuredPosts.slice(0, 1).map((post) => (
								
									<a href={`/blog/${post.slug}/`}>
										<img width="100%" height="100%" src={post.data.heroImage} alt="" />
										<h4 style="color:#fff; margin-top:0.5em;" class="title">{post.data.title}</h4></a>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									
								
							))
						}
					
			</section>
		</div> 
	</div>	
</div>

<div class="colorbox" style="background-color:rgb(51, 226, 130); ">
	<h5 style="color:rgb(255, 255, 255); margin-bottom:1em"> ...</h5>
	<img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHhlcnBycTAzc3U4YmVyajk3d2s2bzUzNGQ3NjVwd21hbGkxaTN6ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lJNoBCvQYp7nq/giphy.webp">
</div>



</div >
<p style="gap: 1em">
hehe
</div>
	</main>	
		<Footer />
	</body>
</html>

<style>
 a {
	display: block;
	transition: color 0.3s ease, transform 0.2s ease; /* Add transition effects */
}

ul li {
	list-style: none; 
	overflow: visible;
}

a {
  text-decoration: none;
   
}

a:hover {
  color: var(--highlight-color); /* Change text color on hover */
  transform: scale(1.0125); /* Slightly enlarge the whole block */
}

a:hover h4 {
  color: #ff5733; /* Example highlight color */
  text-decoration: none; /* Optional */

}

.colorbox {
	background-color:white;
	
}


</style>

