---
import { ViewTransitions } from "astro:transitions";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Themecolors } from '../../config.js';

const themeStyles = Object.entries(Themecolors)
    .map(([key, value]) => `--${key}: ${value};`)
    .join('\n');


---
<!-- campfire2.webp/campfire1.webp files converted from gifs aquired through https://tenor.com/view/dark-souls-knight-rest-here-weary-rest-here-weary-one-gif-19874929 & https://tenor.com/view/anime-frieren-read-reading-grimoire-gif-9258809254239823881 -->
<!doctype html>
<html lang="en">


	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>


	<body>
		<Header />
		<main>
			
			<div class='centerbox'>
				<div class="rowbox" style="gap:1em;">
					<a href="https://ko-fi.com/0xcheth/" target="_blank">
						<img src="assets/support_me_on_kofi_badge_dark.png" width="200" />
					</a>
					<a href="https://github.com/0xcheth/" target="_blank">
						<img src="assets/GitHub_Logo.png" width="250" />
					</a>
					</div>
					
				<slot />

		</div>
		</main>
		<Footer />
	</body>
</html>

<style>
    :root {
        {themeStyles}
    }
</style>